<html
    <head>
        <title>
                <%=title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%-style %>
     <!-- this whole is a wrapper to the body enclosed. -->
    </head>
    <body>
        <%- include('_header'); -%>
        <%- body %>                       
        <%- include('_footer'); -%>
        <%-script %>
    </body>
</html>